

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #e0ffff;
}

.app {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.visual {
    position: relative;
}

header h1 {
    margin: 10px 0px 25px 0px;
    text-align: center;
    font-size: 40px;

}

.wpads {
    background: lightgrey;
    display: flex;
    margin: 0px;
}

.wpads > div {
    height: 300px;
    width: 80px;
    flex: 1;
    background: white;
    border: 1px solid black;
}

.wpads > div:active, .wpads > div.active{
    background: rgb(200, 245, 245);
}

.bpads {
    position: absolute;
    display: flex;
    top: 0;
    left: 20px;
}

.bpads > div {
    position: relative;
    width: 42px;
    margin-left: 38px;
    height: 190px;
    background: black;
}
.bpads>div:nth-child(7n+3),
.bpads>div:nth-child(7n+7) {
    z-index:-1;
    visibility:hidden;
}

.bpads > div:active, .bpads > div.active { 
    background: #0e7477;
}

.notes {
    max-height:0px;
    transition:max-height 1.5s;
    overflow:hidden;
  }